/* icono del carro de compras */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" );
/* fuente Poppins y Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* body-section ---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body{
    color: #fcacd1;
    min-height: 100vh;
    background: url(../media/background_body.png) center;
    background-size: cover;


}

/* header-section -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .banner{
    background: url(../media/Header-ru.catt-4.jpg) no-repeat center;
    background-size: cover;
    height: 7rem;
    overflow: hidden;
    width: 100%;
    grid-area: banner;
}

header .container-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    border-top: 1px solid rgb(223, 35, 160);
    border-bottom: 1px solid rgb(223, 35, 160);
}

header .container-nav .ru-logo{
    height: 3.5rem;
    border-radius: 20px;
    margin: 0.5rem 0 0.5rem 2rem;

}

header .container-nav nav{
    display: flex;
    align-items: center;
    
}

header .container-nav a{
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container-nav .buy-car{
    display: flex;
    align-self: center;
    height: 4.5rem;
    padding-right: 2rem;
}

header nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

header nav ul li a{
    display: block;
    text-decoration: none;
    padding: 0 0.5rem 0 0.5rem;
}

header nav ul li a:hover, .buy-car:hover{
    background: pink;
}

header nav ul li a img{
    display: flex;
    align-self: center;
    height: 4.5rem;
}

@media all and (max-width: 897px){
    header .banner{
        display: none;
    }

    header .container-nav .ru-logo{
        height: 7vw;
    }

    header .container-nav .buy-car{
        height: 7vw;
    }

    header nav ul li a img{
        height: 7vw;
    }
}

@media all and (max-width: 600px){
    header .container-nav{
        flex-direction: column;
        justify-content: center;
    }

    header .container-nav nav ul{
        flex-direction: column;
        width: 100%;
    }

    header nav ul li a img{
        height: 4rem;
        
    }

    header .container-nav .ru-logo{
        display: none;
    }

}


/* footer-section --------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    display: flex;
    height: 4rem;
    justify-content: right;
    background-color: #ee3189;
    align-items: center;
}


footer h2{
    font-size: 1rem;
    color: rgb(8, 70, 59);
}

footer a{
    width: 2rem;
    height: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../media/instagram-icon.png);
    background-size: contain;
}

/* css index -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.index {
    margin: 20px 5% 0 5%;
    text-align: center;
    font-family: 'Inter', serif;
    display: grid;
    grid-template-areas: 
    'h1 h1 h1  present present present present'
    'span span img present present present present'
    'section section section section section section section';

    grid-template-rows: 7rem 50rem 100rem;
}


.index img{
    grid-area: img;
    width: 50rem;
}

.index .container_1{
    background-color: #FF03EE;
    border-radius: 40px;
    height: 100%;
    grid-area: h1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.index h1{
    font-size: 2em;
    color: #E2FF03;
    
}

.index .presen{
    grid-area: present;
    padding: 40px 0 40px 0;
}
.index p{
    padding: 0 1.5rem 1.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}

.index .NTD{
    font-style: italic;
    font-size: 3rem;
}

.index p a{
    text-decoration: none;
    color: #FF03EE;
    
}
.index .ru-icono{
    border-radius: 20px;
}

.index section{
    grid-area: section;
    border:10px #a01ad0 solid;
    text-align: center;
    margin-top: 50px;
}

section h4{
    padding-bottom: 20px;
    font-size: 35px;
}
section .panel-product img{
    padding: 10px;
    border-radius: 40px;
}



/* css product ----------------------------------------------------------------------------------------------------------*/

.mascarillas{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.mascarillas .h2-mascarilla h2{
    margin: 0 auto;
}

.mascarillas .mascarilla-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.mascarillas .mascarilla-vista{
    margin: 20px;
    display:flex;
    flex-direction: column;
    border: yellow 5px dashed; 
}

/* css de contacto */

.contacto form fieldset{
    display: flex;
    flex-direction: column;
}

.contacto form fieldset *{
    margin: 10px;
}

